<!-- This partial requires the locals: receiver -->

<div id="notifly" class="dropdown">

  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    <span id="notifly-counter"></span>
    <span id="notifly-icon"><%= notifly_icon %></span>
  </a>


  <div id="notifly-notifications-panel" class="dropdown-menu">
    <div id="notifly-notifications-header">
      Notifications

      <span id="notifly-header-actions" class="pull-right">
      </span>
    </div>

    <div id="notifly-notifications-content">
       <div class="loading">Loading notifications...</div>
    </div>

    <div id="notifly-notifications-footer"></div>
  </div>
</div>