.bundle/
log/*.log
pkg/
spec/test_app/db/*.sqlite3
spec/test_app/db/*.sqlite3-journal
spec/test_app/log/*.log
spec/test_app/tmp/
spec/test_app/.sass-cache
spec/dummy/db/development.sqlite3
spec/dummy/log/development.log
spec/dummy/db/test.sqlite3
spec/dummy/log/test.log
