<h1>Site#index</h1>
<% if current_user %>
  <p>User logged in: <%= current_user.name %></p>
<% end %>
<p><%= link_to 'create notification', create_notification_path, remote: true, method: :post %></p>