<!DOCTYPE html>
<html>
<head>
  <title>Notifly</title>
  <%= stylesheet_link_tag    "notifly/application", media: "all" %>
  <%= javascript_include_tag "notifly/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
