<div id="notifly" data-receiver-id="<%= receiver.id %>" data-receiver-type="<%= receiver.class %>"
  data-path="<%= notifly.notifications_path %>">

  Notifly

  <div id="notifly-counter" data-path="<%= notifly.count_notifications_path %>">
  </div>

  <div id="notifly-notifications">
  </div>
</div>