<!-- This partial requires the locals: notification -->

<div class="notifly-notification">
  <%= notification.receiver.name %>, you receive a new notification at <%= notification.created_at %>
</div>